<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="language" content="ES">
    <meta name="description" content="Destino aventura a la carta es una empresa que te resuelve de manera integral
        todo aquello que nesecitas para disfrutar al maximo de tus vacaciones.">
    <meta name="Author" content="Destino vacacional a la carta">
    <link rel="stylesheet" href="../css/estilos.css" type="text/css">
    <link rel="icon" href="../favicon/DA.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="../js/">
    <title>Destino Aventura</title>
</head>
<body>
<!--Comenzamos el Header-->    
    <header>
        <div class="titulo">
            <h1>Destino Aventura</h1>
        </div>
    </header>    
<!--Barra de navegacion-->
    <nav class="barranav">
        <ul class="listbarrnav">
            <li>
                <a class="enlace" href="../index.html">Inicio</a>
            </li>
            <li>
                <a class="enlaceActive" href="#">Galeria</a>
            </li>
            <li>
                <a class="enlace" href="presupuesto.html">Presupuesto</a>
            </li>
            <li>
                <a class="enlace" href="contacto.html">Contacto</a>
            </li>
        </ul>
    </nav>
<!--Galeria-->
<div id="contenedor">
    
    <div class="sliders">
        <img class="galeria" src="../images/img1.jpg" alt="auto" width="1280" height="853">
        <img class="galeria" src="../images/img2.jpg" alt="baño" width="1280" height="960">
        <img class="galeria" src="../images/img3.jpg" alt="Habitacion" width="1280" height="852">
        <img class="galeria" src="../images/img13.jpg" alt="baño" width="1422" height="1920">
        <img class="galeria" src="../images/img4.jpg" alt="cabaña" width="1280" height="853">
        <img class="galeria" src="../images/img5.jpg" alt="cabaña" width="1280" height="853">
        <img class="galeria" src="../images/img6.jpg" alt="desayuno" width="1280" height="853">
        <img class="galeria" src="../images/img7.jpg" alt="croasan" width="1280" height="1273">
        <img class="galeria" src="../images/img8.jpg" alt="cafe" width="1280" height="853">
        <img class="galeria" src="../images/img9.jpg" alt="hotel" width="1280" height="853">
        <img class="galeria" src="../images/img10.jpg" alt="hotel" width="1280" height="720">
        <img class="galeria" src="../images/img11.jpg" alt="bungalo" width="1280" height="720">
        <img class="galeria" src="../images/img12.jpg" alt="bungalo" width="1280" height="739">
        <img class="galeria" src="../images/img14.jpg" alt="parking" width="1280" height="960">
    </div>

    <div id="flechas">
        <div  class="sliders l">
            <span class="fa-solid fa-angle-left"></span>
        </div>
        <div class="sliders r">
            <span class="fa-solid fa-angle-right"></span>
        </div>
    </div>
    
    <div id="boton-sliders">
        <span class="btn" id="1"></span>
        <span class="btn" id="2"></span>
        <span class="btn" id="3"></span>
        <span class="btn" id="4"></span>
        <span class="btn" id="5"></span>
        <span class="btn" id="6"></span>
        <span class="btn" id="7"></span>
        <span class="btn" id="8"></span>
        <span class="btn" id="9"></span>
        <span class="btn" id="10"></span>
        <span class="btn" id="11"></span>
        <span class="btn" id="12"></span>
        <span class="btn" id="13"></span>
        <span class="btn" id="14"></span>
    </div>
</div>

<footer class="pie">
    <div id="pie">

        <div class="copy">
            <p> &copy; Sol & Mar-2022. Todos los derechos reservados</p>
        </div>

        <div class="direccion">
            <p>Av. del Mediterráneo, XX 03188, La Mata Alicante, España. Tel. XXX XXX XXX</p>
        </div>
    
        <div class="redes">
            <ul>
                <li><a href="https://www.instagram.com"  target="_blank" rel="noopener">Instagram</a></li>
                <li><a href="https://www.facebook.com" target="_blank" rel="noopener">Facebook</a></li>
                <li><a href="https://www.twitter.com" target="_blank" rel="noopener">twitter</a></li>
            </ul>   
        </div>

    </div>
</footer>
<script  src="../js/galeria.js"></script> 
</body>
</html>